@import "https://unpkg.com/open-props";
/* @import "https://unpkg.com/open-props/normalize"; */

#root {
  /* max-width: 1280px; */

  padding: 2rem;
  /* text-align: center; */
}

.cell__mine {
  background-color: #61dafb;
}

.cell__theirs {
  background-color: plum;
}

.cell__noOwner {
  background-color: beige;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
