@import 'open-props/style';

.square {
  height: 30px;
  width: 30px;
  border-radius: var(--border-size-3);
  /* transition: background-color ease 0.3s; */
}

h1, h2, h3, nav>button {
  color: var(--green-9);
  margin-block: .15em;
  font-stretch: semi-expanded;
  text-shadow: .1rem .2rem var(--indigo-1);
  &::selection {
    text-shadow: initial;
    color: black;
    background-color: lightblue;
  } 
  &:is(button) {
    background-color: initial;
    text-align: initial;
    padding: initial
  }
} 

section {
  margin-inline: 8vw;
  max-width: 70ch;
  /* font-stretch: semi-condensed; */
  @media (width <= 768px) {
    max-width: 100%;
    text-align: center;
    margin-inline: initial;
    padding: var(--size-2);
  }
}

.how-to__container {
  font-family: var(--font-sans);
  background-image: var(--gradient-9), var(--noise-4);
  border: 4px solid var(--indigo-4);
  filter: var(--noise-filter-9);
  margin: 0 auto;
  padding: var(--size-2);
  min-width: 70%;
  border-radius: var(--border-size-3);
  margin-bottom: var(--size-5);
  & hr {
    color: var(--indigo-6);
    
  }
}

.example-boards__container { 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @media (width <= 768px) {
    width: 100vw;
  }
}

.grid-25 {
  display: grid;
  grid-template-rows: repeat(5, 10px);
  grid-template-columns: repeat(5, 10px);
  & > .cell {
    background-color: aliceblue;
  }
}

.grid-25.cols {
  --full-animation-time: 2.5s;
  --delay-time: .5s;
  & .cell:nth-child(6n - 5) {
    animation-play-state: running;
    animation: var(--full-animation-time) linear infinite color-cycle-two;
    animation-delay: calc(var(--delay-time));
  };
  & .cell:nth-child(5n + 1) {
    animation: var(--full-animation-time) linear infinite color-cycle;
    animation-delay: calc(var(--delay-time) * 1);
  };
  & .cell:nth-child(5n + 2) {
    animation: var(--full-animation-time) linear infinite color-cycle;
    animation-delay: calc(var(--delay-time) * 2);
  };
  & .cell:nth-child(5n + 3) {
    animation: var(--full-animation-time) linear infinite color-cycle;
    animation-delay: calc(var(--delay-time) * 3);
  };
  & .cell:nth-child(5n + 4) {
    animation: var(--full-animation-time) linear infinite color-cycle;
    animation-delay: calc(var(--delay-time) * 4);
    
  };
  & .cell:nth-child(5n + 5) {
    animation: var(--full-animation-time) linear infinite color-cycle;
    animation-delay: calc(var(--delay-time) * 5);
  } 
}

.grid-25.rows {
  --full-animation-time: 2.5s;
  --delay-time: .5s;
  & .cell {
    animation: var(--full-animation-time) linear infinite color-cycle;
    animation-delay: calc(var(--delay-time) * var(--row));
  }
}

.grid-25.diag {
  --full-animation-time: 2.5s;
  --delay-time: .5s;
  & .lr {
    animation: var(--full-animation-time) infinite color-cycle;
    animation-delay: calc(var(--delay-time) * mod(var(--cell), 6));
  }
  & .rl {
    --delay-time: .5s;
    animation: var(--full-animation-time) infinite color-cycle;
    animation-delay: calc(var(--delay-time) * mod(var(--cell), 4));
  }
}



@keyframes color-cycle {
  0% {
    background-color: initial;
  }
  10%{
    background-color: var(--green-9);
  }
  70% {   
    background-color: inital;
  }
}

.slide-in {
  opacity: 0;
  animation: var(--animation-slide-in-right), var(--animation-fade-in);
  animation-fill-mode: forwards, forwards;
}

.pulse {
  animation: var(--animation-blink);
  transition: background-color ease 0.3s;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 4px 0px 0px 0px;
  padding: 1px;
}

.opaque {
  background-color: var(--gray-9);
  color: var(--gray-1);
}

.no-click {
  cursor: not-allowed;
}

.delay-1 {
  animation-delay: 0.5s;
}

.board-container {
  @media (width <= 768px) {
    width: 100vw;
  }
}

.cell {
  border-radius: 2px;
  border: 1px solid var(--gray-5);
  background-color: var(--camo-0);
  padding: 0px 0px;
  position: relative;
}

#last-marked {
  --animation-length: 1.2s;
  animation: var(--animation-scale-up), var(--animation-scale-up);
  animation-duration: var(--animation-length);
  animation-direction: normal, reverse;
  animation-delay: 0s, var(--animation-length);
  /* border-radius: 10px; */
}

.bg-white {
  background-color: var(--gray-1);
}

.bg-red {
  background-color: var(--red-7);
  /* animation: var(--animation-bounce) forwards;
  animation-timing-function: var(--ease-squish-5);
  animation-duration: 1s; */
}
.bg-purple {
  background-color: var(--purple-7);
  /* animation: var(--animation-scale-down) reverse,
    var(--animation-fade-out) reverse;
  animation-timing-function: var(--ease-squish-5);
  animation-duration: 1s; */
}
.bg-violet {
  background-color: var(--violet-7);
}
.bg-indigo {
  background-color: var(--indigo-7);
}
.bg-cyan {
  background-color: var(--cyan-7);
}
.bg-teal {
  background-color: var(--teal-7);
}
.bg-green {
  background-color: var(--green-7);
}
.bg-lime {
  background-color: var(--lime-7);
}
.bg-yellow {
  background-color: var(--yellow-7);
}
.bg-orange {
  background-color: var(--orange-7);
}
.bg-choco {
  background-color: var(--choco-7);
}
.bg-brown {
  background-color: var(--brown-7);
}

.bg-sand {
  background-color: var(--sand-7);
}
.bg-jungle {
  background-color: var(--jungle-7);
}
.bg-gray {
  background-color: var(--gray-7);
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: black;
}

.flex-small {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30vw;
  > * {
    margin: var(--size-2);
  }
  @media (width < 768px) {
    width: 50vw;
  }
}
